<!DOCTYPE html>
<html lang="ja">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/preloader %>
    <% include partials/header %>
    <% include partials/about %>
    <% include partials/profile %>
    <% include partials/news %>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>
