<section id="about">
  <div class="container">
    <div class="section-header">
      <h2>About REPOSITORY</h2>
      <p class="message">
        リポジトリ (REPOSITORY)は、福岡市を拠点として活動する木下真哉による個人事業/SOHOです。<br><br>
        ソフトウェアの開発全般を得意としており、主にウェブアプリケーションの開発やスマートフォンアプリ(iPhone)の<br>
        開発のお仕事をさせていただいております。<br><br>
        ソフトウェアの開発だけでなく、ウェブサイトの企画・設計・製作にも対応いたします。
      </p>
    </div>
    <!-- /.section-header -->
    <div class="row mt80">
      <div class="business col-sm-2 col-sm-offset-1">
        <div class="title">
          <i class="fa fa-5x fa-laptop"></i>
          <h4>ウェブアプリ開発</h4>
        </div>
        <!-- /.title --> 
        <div class="detail">
          <p>Java/PHP/Python/Rubyを使ったウェブアプリの企画・設計・開発・運用に対応させていただきます。</p>
        </div>
        <!-- /.detail -->
      </div>
      <!-- /.business.col-sm-2.col-sm-offset-1 -->
      <div class="business col-sm-2">
        <div class="title">
          <i class="fa fa-5x fa-globe"></i>
          <h4>ウェブサイト制作</h4>
        </div>
        <!-- /.title -->
        <div class="detail">
          <p>HTML5/CSS3/JavaScriptを使ったウェブサイトの企画・開発・運用に対応させていただきます。</p>
        </div> 
        <!-- /.detail -->
      </div>
      <!-- /.business.col-sm-2 -->
      <div class="business col-sm-2">
        <div class="title">
          <i class="fa fa-5x fa-mobile"></i>
          <h4>スマートフォンアプリ開発</h4>
        </div> 
        <!-- /.title --> 
        <div class="detail">
          <p>Objective-C/Swiftを使ったiPhone/iPadアプリの企画・開発・運用に対応させていただきます。</p>
          <p>AndroidアプリについてはMonacaを使って対応させていただきます。</p>
        </div> 
        <!-- /.detail -->
      </div>
      <!-- /.business.col-sm-2 -->
      <div class="business col-sm-2">
        <div class="title">
          <i class="fa fa-5x fa-server"></i>
          <h4>サーバー構築</h4>
        </div> 
        <!-- /.title --> 
        <div class="detail">
          <p>ウェブサーバー/アプリケーションサーバー/データベースサーバー等、様々なサーバーの構築に対応させていただきます。</p>
        </div> 
        <!-- /.detail -->
      </div>
      <!-- /.business.col-sm-2 -->
      <div class="business col-sm-2">
        <div class="title">
          <i class="fa fa-5x fa-users"></i>
          <h4>コンサルティング・社員教育</h4>
        </div> 
        <!-- /.title --> 
        <div class="detail">
          <p>新規にウェブサービスを立ち上げたいがどうしたら良いか分からない、新規にウェブシステムを開発したいがどんなアーキテクチャにしたら良いか分からない、チーム開発がうまくいかない等のご相談に対応させていただきます。</p>
          <p>また、ソフトウェア開発に関する社員教育にも対応させていただきます。</p>
        </div> 
        <!-- /.detail -->
      </div>
      <!-- /.business.col-sm-2 -->
    </div>
    <!-- /.row.mt80 -->
  </div>
  <!-- /.container -->
</section>
<!-- /#about -->
