<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
<meta name="author" content="Shinya Kinoshita">
<meta name="description" content="リポジトリ(REPOSITORY)は、福岡を拠点に活動するソフトウェア及びウェブに関する個人事業/SOHOです。ウェブサイトの企画・設計・制作、スマートフォンアプリの企画・設計・制作、ウェブサービスの企画・設計・構築、スタートアップ支援など幅広く対応いたします。">
<meta name="keywords" content="REPOSITORY (リポジトリ), 福岡, ウェブサイト制作, アプリ制作, UI設計, UX設計, ソフトウェア品質管理, ウェブサービス開発支援, バーチャルCTO, フルスタックエンジニア">
<title>リポジトリ - (REPOSITORY) | ウェブデザイン、ソフトウェアデザイン、ウェブサービスデザイン、スタートアップ支援 (CTO) </title>
<link rel="stylesheet" href="assets/css/app.min.css">