<header id="header" class="header novideo">
  <div class="full-screen">
    <% include nav %>
    <div class="intro-section">
      <h1>Repository</h1>
      <p>地球と人類の幸せな未来をデザインする</p>
    </div>
    <!-- /.intro-section -->
    <aside class="movie-credit-info">
      <a href="https://vimeo.com/mattdevir" target="_blank">
        <span class="movie">Movie</span>
        <span class="photo">Photo</span>
        by Matt Devir
      </a>
    </aside>
  </div>
  <!-- /.full-screen -->
</header>
<!-- /#header -->