<section id="news">
  <div class="container">
    <div class="section-header">
      <h2>News</h2>
    </div>
    <!-- /.section-header -->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <table class="table">
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>yyyy.MM.dd</td>
              <td>&nbsp;</td>
              <td>xxxxxxx</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col-sm-10.col-sm-offset-1 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /#news -->