<section id="profile">
  <div class="container">
    <div class="section-header">
      <h2>Profile</h2>
    </div>
    <!-- /.section-header -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <aside class="base">
          <div class="photo">
            <img src="assets/images/profile.png" alt="Shinya Kinoshita" class="img-responsive"> 
          </div>
          <!-- /.photo -->
          <div class="detail">
            <h3 class="name">木下真哉</h3>
            <p class="title">ソフトウェアエンジニア</p>
            <ul class="social-web">
              <li>
                <a href="https://www.facebook.com/shinya.kinoshita.31" target="_blank">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="http://www.shinyakinoshita.com/" target="_blank">
                  <i class="fa fa-tumblr fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/skinoshita" target="_blank">
                  <i class="fa fa-github fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="http://codepen.io/skinoshita/" target="_blank">
                  <i class="fa fa-codepen fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- /.detail -->
        </aside>
        <!-- /.base -->
      </div>
      <!-- /.col-sm-4.col-sm-offset-1 -->
      <div class="col-sm-5 col-sm-offset-1">
        <aside class="description">
          <p>
            福岡県出身。
            <br><br>
            地元の大学を卒業後、九州及び東京のシステム開発会社に在籍し、公共・物流・保険関連のシステム開発プロジェクトに参加。
            <br><br>
            その後、法人向けSNSサービスを展開するベンチャー企業に在籍。
            <br>
            既存のSNSサービスの保守から新規SNSサービスの開発に携わる。
            <br><br>
            2011年に発生した東日本大震災をきっかけに、福岡にＵターン。
            <br><br>
            Ｕターン後は、フリーランスとして福岡及び東京の案件に参加。
            <br>
            東京の案件にはリモートで参加。
            <br><br>
            2014年に福岡の医療系システム会社に正社員として入社。
            <br>
            プロジェクトリーダーとして、プロジェクト管理・アーキテクチャ設計・インフラ設計に携わる。
            <br>
            また、会社の採用活動にも携わる。
            <br><br>
            2015年に第１子が産まれたのを機に仕事を一時休業。
            <br><br>
            2016年から個人事業を開始。
          </p>
        </aside>
        <!-- /.description -->
      </div>
      <!-- /.col-sm-5.col-sm-offset-1 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /#profile -->
